<div>
  <form class="formDiv" #userForm="ngForm" [formGroup]="ingredientForm" (ngSubmit)="addItem()">
    <div class="form-group">
      <label for="addIngredient">Add Ingredients: </label>
      <input
        type="text"
        id="addIngredient"
        name="addIngredient"
        placeholder="Ex: Mushrooms"
        class="form"
        formControlName="Name"
        [(ngModel)]="addIngredient"
        required
      />
    </div>
    <button [disabled]="!userForm.form.valid" class="addIngredientBtn">Add Item</button>
  </form>

  <br />

  <div>
    <div class="ingredientsList" *ngFor="let ingredient of ingredients; let i = index;">
      <div class="foodItem">{{ingredient.content}}</div>
      <button class="removeBtn" (click)="removeItem(i)">Remove Item</button>
    </div>
  </div>
</div>

<br />

<div>
  <button class="searchBtn" (click)="search()">Find Recipes</button>
</div>