<div>
  <div>
    <h3 class="title">Add Ingredients:</h3>
    <form class="formDiv" (submit)="addItem()">
      <input
        type="text"
        name="addIngredient"
        placeholder="Ex: Mushrooms"
        class="inputForm"
        [(ngModel)]="inputIngredient"
      />
      <input type="submit" value="Add Item" class="addIngredientBtn" [disabled]="!form.valid"/>
    </form>
  </div>

  <br />

  <div>
    <div class="ingredientsList" *ngFor="let ingredient of ingredients; let i = index;">
      <div class="foodItem">{{ingredient.content}}</div>
      <button class="removeBtn" (click)="removeItem(i)">Remove Item</button>
    </div>
  </div>
</div>