.formDiv {
  display: flex;
  flex-direction: row;
  background-color: #e1f1dd;
}

.form {
  justify-content: flex-start;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #cdc7be;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.addIngredientBtn {
  justify-content: flex-end;
  background-color: #87a7b3;
  border-radius: 10px;
  border: 4px;
  text-align: center;
  padding: 5px;
  margin: 3px;
}

.addIngredientBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ingredientsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
  background-color: #e1f1dd;
}

.foodItem {
  justify-content: flex-start;
  font-size: larger;
}

.removeBtn {
  justify-content: flex-end;
  background-color: #87a7b3;
  border-radius: 10px;
  border: 4px;
  text-align: center;
  padding: 5px;
  margin: 3px;
}

.removeBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.searchBtn{
  justify-content: flex-start;
  background-color: #87a7b3;
  border-radius: 10px;
  border: 4px;
  text-align: center;
  padding: 5px;
  margin: 3px;
}